<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beatport API Link</title>
</head>
<body>
<ul>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-main/>Main</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-140-deep-dubstep-grime/>Deep Dubstep Grime</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-afro-house/>Afro House</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-bass-club/>Bass Club</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-bass-house/>Bass House</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-breaks-breakbeat-uk-bass/>Breaks Breakbeat UK Bass</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-dance-electro-pop/>Electro Pop</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-deep-house/>Deep House</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-dj-tools/'>DJ Tools</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-drum-bass/>Drum & Bass</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-dubstep/>Dubstep</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-electro-classic-detroit-modern/>Electro Classic Detroit Modern</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-electronica/>Electronica</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-funky-house/'>Funky House</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-hard-dance-hardcore/>Hard Dance Hardcore</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-hard-techno/'>Hard Techno</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-house/>House</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-indie-dance/>Indie Dance</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-jackin-house/>Jackin House</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-mainstage/>Mainstage</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-melodic-house-techno/>Melodic House Techno</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-minimal-deep-tech/>Minimal Deep Tech</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-nu-disco-disco/>Nu Disco Disco</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-organic-house-downtempo/>Organic House Downtempo</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-progressive-house/>Progressive House</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-psy-trance/>Psy Trance</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-tech-house/>Tech House</a></li>
  <li><a href=http://127.0.0.1:8000/api/beatport-top100-techno-peak-time-driving/>Techno Peak Time Driving</a></li>
</ul>

</body>
</html>